---
layout: plain
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h2>Tutorials</h2>

      <p>This site lists the tutorials by categories.</p>

      <h3>Seeting up your workflow</h3>
      <ul>
        {% for post in site.categories.setup %}
          {% if post.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <h3>Data processing</h3>
      <ul>
        {% for post in site.categories.data %}
          {% if post.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <h3>Data processing</h3>
      <ul>
        {% for post in site.categories.dataproc %}
          {% if post.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

["setup", "dataproc", "qpad", "models", "gis"]

    </div>
  </div>
</div>
