---
layout: plain
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h1>Welcome to the BAM Tutorials page!</h1>

      <p>This site lists the tutorials by categories, so you can see it for yourself what we at BAM are doing.</p>

      {% for topic in site.topics %}
      <h3>{{ topic.title }}</h3>
      {% for category in site.categories %}
        {% if category[0] == topic.name %}
        <ul>
          {% for post in category[1] reversed %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
      {% endfor %}


    </div>
  </div>
</div>
