---
layout: plain
category: bamdb
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      {% for topic in site.topics %}
      {% if topic.name == page.category %}
      <h3>{{ topic.title }}</h3>
      {% for category in site.categories %}
        {% if category[0] == topic.name %}
        <ul>
          {% for post in category[1] reversed %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}


    </div>
  </div>
</div>
