{% capture navbar %}{% if page.navbar %}{{ page.navbar }}{% else %}{{ site.navbar }}{% endif %}{% endcapture %}
    <div class="navbar navbar-default navbar-fixed-top navbar-{{ navbar }}" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}"><strong>{{ site.title }}</strong></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Contents</a>
                <div class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                  {% for topic in site.topics %}
                  <a class="dropdown-item" href="{{ site.baseurl }}{{ topic.name }}">{{ topic.title }}</a>
                  {% endfor %}
                </div>
            </li>
            <li><a href="{{ site.baseurl }}/posts.html">Posts</a></li>
            <li><a href="{{ site.baseurl }}/tags.html">Tags</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/borealbirds/"><i class="fa fa-github-square text-grey"></i></a></li>
            <li><a href="https://twitter.com/borealbirds"><i class="fa fa-twitter-square text-grey"></i></a></li>
            <li><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss-square text-grey"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
